@keyframes myAnimation {
    0% {background-color: lightcoral;}
    50% {background-color: red;}
    100% {background-color: lightcoral;}
}
@keyframes grow-and-shrink {
    0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
img {
    width: 750px;
    border-radius: 50px;
}
body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightcoral;
    animation: grow-and-shrink 2s ease-in-out infinite, myAnimation 4s ease-in-out infinite;
}